<%- include('header') -%>

<div class="enter-div">
    <h2>To-do List</h2>
    <div class="icon-div">
        <i class="fa-brands fa-google fa-lg"></i>
    </div>
    <button><a href="/auth/google">Login using Google</a></button>
    <p>If you don't have an account, one will be made for you once you login using Google</p>
</div>

<%- include('footer') -%>