        <div class="footer">
            <a href="https://github.com/Ventuscoder/" target="_blank">©️ Shivank Mitra</a>
        </div>
        <script src="https://kit.fontawesome.com/4be4ee58f9.js" crossorigin="anonymous"></script>
    </body>
</html>