<%- include('header') -%>

<div class="todos-div">
    <p style="color:white;"><%= user %></p> 
</div>
<div class="logout-section">
    <button class="logout"><a href="/logout">Logout</a></button>
</div>

<%- include('footer') -%>