/* Universal styles */

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
/* Login or Register form */

.enter-div {
    padding: 10px 10px;
    width: 80vw;
    height: 40vh;
    margin: 20vh auto;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.25rem;
    color: white;
}

.icon-div {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px auto 10px;
}

.enter-div button {
    display: block;
    padding: 10px;
    width: 250px;
    font-size: 1.2rem;
    margin: 25px auto 0;
    background-color: blue;
    border-radius: 6px;
    border: 1px solid white;
}


.enter-div button a {
    color: white;
}

.enter-div p {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
}

/* Styling todos */

.todos-div {
    padding: 10px 10px;
    width: 80vw;
    height: 60vh;
    margin: 10vh auto 5vh;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.25rem;
    color: white;
}

.logout-section {
    width: 100%;
    height: 50px;
    margin-bottom: 5vh;
}

.logout {
    height: 100%;
    width: 150px;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
}

.logout a {
    color: black;
}

.new-todo-form {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.new-todo-field {
    width: 240px;
    height: 60px;
    font-size: 1.5rem;
    padding: 0 20px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none none 1px solid white none;
}

.new-todo-field:focus {
    outline: none;
}
.new-todo-form button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-left: 20px;
    cursor: pointer;
}

.table-container {
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
}

table {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

tr {
    width: 100%;
}

td {
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.todo-name {
    text-align: left;
    overflow-y: auto;
}

.edit a {
    color: orange;
}

.complete a {
    color: green;
}

.delete a {
    color: red;
}

/* Style edit page */

#save-btn, #cancel-btn {
    display: block;
    border-radius: 10px;
    margin: 0 auto 20px;
    height: 40px;
}

#save-btn {
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 70px;
}

#save-btn:hover {
    background-color: white;
    color: black;
}

#cancel-btn {
    border: 2px solid red;
    background-color: black;
    width: 100px;
}

#cancel-btn a {
    color: red;
}

/* Styling footer section */

.footer {
    width: 100%;
    text-align: center;
}

.footer a {
    color: white;
}

@media (max-width: 900px) {
    .enter-div, .todos-div {
        width: 80vw;
    }
    
    .enter-div {
        height: 50vh;
    }

    .todos-div {
        height: 60vh;
    }
}